.dashboard-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    width: 89%;
    max-width: 833px;
    margin: auto;

    .dashboard-infos-wrap {
        .dashboard-card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 400px;
            position: relative;
            // z-index: 2;
            @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                background: rgba(255, 255, 255, 0.04);
                backdrop-filter: blur(100px);
            }

            /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
            @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                background: rgba(255, 255, 255, 0.04);
            }

            border-radius: 4px;
            padding: 13px 0;

            .card-title {
                font-family: Montserrat Medium;
                font-weight: 400;
                font-size: 20px;
                color: rgba(255, 255, 255, 0.6);
                margin-bottom: 15px;
            }

            .card-value {
                font-family: Montserrat;
                font-size: 24px;
                color: #ffffff;
            }

            .card-value-small {
                font-family: Montserrat;
                font-size: 24px;
                color: #ffffff;
            }

            .button {
                background: rgba(255, 255, 255, 0.2);
                box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
                color: white;
                padding: 10px;
                font-family: Montserrat Medium;
                border-radius: 4px;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}
